{% extends 'base.html' %}

{% block content %}
    <script>
    function setOpenID(openid, pr) {
        var u = openid.search('<username>');
        if (u !== -1) {
            var user = prompt('Enter your ' + pr + ' username: ');
            var openidValue = openid.substr(0, u) + user;
        }

        var form = document.forms['login'];
        form.elements['openid'] = openidValue;
    }
    </script>

    <h1>Sign in</h1>
    <form action="" name="login" method="post">
        {{ form.hidden_tag() }}
        <p>
            Please enter your OpenID:<br>
            {{ form.openid(size=80) }}
            {% for error in form.openid.errors %}
            <span style="color:red">[{{ error }}]</span>
            {% endfor %}
            |{% for pr in providers %}
            <a href="javascript:setOpenID('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a>
            {% endfor %}
        </p>
        <p>{{ form.remember_me }} Remember me</p>
        <p><input type="submit" value="Sign in"></p>
    </form>
{% endblock %}
